---
---

@import "{{ site.theme }}";

.page-header {
    padding: 1rem;
    background-image: linear-gradient(90deg, #0C2450, #395387);
}

.nav-link {
    color: #ffffff;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #0C113A;
}
